<form>
    <div class="row form-group">
        <label for="username" class="col-sm-1 col-sm-offset-3 control-label">Username:</label>
        <input type="username" class="col-sm-4 rounded" placeholder="Username">
    </div>
    <div class="row form-group">
        <label for="password" class="col-sm-1 col-sm-offset-3 control-label">Password:</label>
        <input type="password" class="col-sm-4 rounded" placeholder="Password">
    </div>
    <div class="row form-group">
        <a href="#/home" id='sign-in' class="col-sm-2 col-sm-offset-3 btn btn-danger">Sign in</a>
        <a href="#/login" id='register' class="col-sm-2 col-sm-offset-1 btn btn-primary">Register</a>
    </div>
</form>