<div class="row">
    <div class="col-sm-4 user-control">
        <input type="title" class="form-control input-lg" id="title" placeholder="Title">
    </div>
    <a id="add-thread" class="btn btn-primary btn-lg col-sm-2 user-control">Add thread</a>
    <div class="col-sm-3 pull-right user-control">
        <input type="search" class="form-control input-lg" id="search" placeholder="search ID">
    </div>
</div>
{{#result}}
<div class="wrapper user-control" id="{{id}}">
    <div class="row">
        <h3 class="col-sm-4 col-sm-offset-4">{{title}}</h3>
        <div class="col-sm-2 col-sm-offset-1 user-control">
            <input type="message" class="form-control" id="message" placeholder="message">
        </div>
    </div>
    <div class="row">
        <h4 class="col-sm-4 col-sm-offset-4">ID: {{id}} {{#if postDate}} post date: {{postDate}} {{/if}}</h5>
            <a id="add-message" class="btn btn-success col-sm-2 col-sm-offset-1">Add message</a>
    </div>
    <div class="row">
        <h4 class="col-sm-4 col-sm-offset-4">Messages: {{#unless messages}} no messages! {{/unless}}</h5>
    </div>
    {{#messages}}
    <div class="row">
        <h5 class="col-sm-4 col-sm-offset-4">{{this}}</h6>
    </div>
    {{/messages}}
</div>
{{/result}}