head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Rosen's blog
    link(rel='stylesheet', href='/public/styles/main.css')
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js') 