<div class="row">
    <h3 class="col-sm-3 col-sm-offset-5">Share cookie!</h3>
</div>
<form>
    <div class="row form-group">
        <label for="text" class="col-sm-1 col-sm-offset-3 control-label">Text:</label>
        <input type="text" class="col-sm-4 rounded" placeholder="Text">
    </div>
    <div class="row form-group">
        <label for="category" class="col-sm-1 col-sm-offset-3 control-label">Category:</label>
        <input type="category" class="col-sm-4 rounded" placeholder="Category">
    </div>
    <div class="row form-group">
        <label for="img" class="col-sm-1 col-sm-offset-3 control-label">ImageURL:</label>
        <input type="img" class="col-sm-4 rounded" placeholder="Image">
    </div>
    <div class="row form-group">
        <a href="#/home" id="add-cookie" class="col-sm-2 col-sm-offset-5 btn btn-primary">Share!</a>
    </div>
</form>