<form class="form-horizontal">
    <div class="row form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input type="username" class="form-control" id="input-username" placeholder="Username">
        </div>
    </div>
    <div class="row form-group">
        <label for="username" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="input-password" placeholder="Password">
        </div>
    </div>
    <div class="row form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a href="#/home" id="sign-in" class="btn btn-primary">Sign in</a>
            <a href="#/login" id="sign-up" class="btn btn-danger">Sign up</a>
        </div>
    </div>
</form>