#navigation {
    width: 250px;
    height: 200px;
    border: 1px solid black;
}

#wrapper {
    margin-top: 5px;
}

form {
    width: 250px;
    border: 1px solid red;
}

.img-animal {
    width: 250px;
    height: 174px;
}

span {
    width: 250px;
    height: 180px;
    font-size: 72px;
    display: block;
    text-align: center;
    position: relative;
    top: 30px;
}