<div class="row">
    <h3 id="user" class="col-sm-2 col-sm-offset-2"></h3>    
    <h3 class="col-sm-2 col-sm-offset-1">The Cookies!</h3>
    <div class="col-sm-3 col-sm-offset-1 user-controls">     
        <input type="search" class="form-control input-md search" placeholder="search">
    </div> 
    <button id='search' class="col-sm-1 btn btn-primary user-controls search">Search</button>        
</div>
<div class="row">
    <a href="#/home" id="users" class="col-sm-2 col-sm-offset-2 btn btn-default user-controls">Get users</a>
    <a href="#/home" id="categories" class="col-sm-2 col-sm-offset-1 btn btn-default user-controls">Get categories</a>
    <a href="#/my-cookie" id="my-cookie" class="col-sm-2 col-sm-offset-1 btn btn-default user-controls">My Cookie</a>  
</div>