* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

#wrapper {
    margin: 3px;
    color: white;
    font-family: sans-serif;
    background-color: #1E3741;
    padding: 10px;
    box-sizing: border-box;
    width: 690px;
    border-radius: 10px;
}

ul#main-menu {
    display: inline-block;
}

ul#main-menu li {
    background-color: #4B5F67;
    margin: 0;
    padding: 10px;
    display: inline-block;
    color: #8BA09D;
}

ul#main-menu li:nth-child(2) {
    text-decoration: underline;
}

ul#main-menu li:first-child {
    color: white;
    background-color: #1E3741;
}

ul#sub-menu {
    margin-top: 10px;
    display: inline-block;
    width: 250px;
    font-size: 15px;
}

ul#sub-menu li {
    padding: 10px;
    border-bottom: 1px solid grey;
    color: #8BA09D;
}

ul#sub-menu li:first-child {
    padding: 10px;
    border: none;
    background-color: #00968C;
    color: white;
}

div#video {
    display: inline-block;
    box-sizing: border-box;
    width: 340px;
    height: 280px;
    background-image: url("./images/btv.png");
    position: relative;
    bottom: 15px;
}