<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="/public/css/style.css")
    link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
    block styles    
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/public/js/client.js")
    title Document
block body